/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* custom */
a {
    color: #666;
    text-decoration: none;
    -webkit-backface-visibility: hidden;
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: rgba(125, 125, 125, 0.7);
    -webkit-border-radius: 6px;
}

html, body {
    width: 100%;
}

body {
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
    outline: none;
}

body, html {
    line-height: 1;
    font-weight: 200;
    font-family: 'Microsoft YaHei', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    background: #fff;
    color: #666;
}

html, body, .container {
    width: 100%;
    height: 100%;
}

.container {
    font-size: 0.37333rem;
}

* {
    box-sizing: border-box;
}

.clearfix {
    display: inline-block;
}

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}

i, em {
    font-style: normal;
    display: inline-block;
}

img {
    width: 100%;
    vertical-align: middle;
}

.download {
    background: #fff;
    min-height: 100vh;
}

.download .head {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 89.07%;
}

.download .head img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.download .download-btn {
    display: block;
    margin: 0.4rem auto 1.73333rem;
    width: 4.8rem;
    height: 1.22667rem;
    line-height: 1.22667rem;
    background: #e5280f;
    color: #fff;
    border-radius: 0.66667rem;
    text-align: center;
    font-size: 17px;
}

[data-dpr="2"] .download .download-btn {
    font-size: 34px;
}

[data-dpr="3"] .download .download-btn {
    font-size: 51px;
}

.download .foot {
    padding: 0 0.66667rem;
}

.download .item {
    font-size: 16px;
    position: relative;
}

[data-dpr="2"] .download .item {
    font-size: 32px;
}

[data-dpr="3"] .download .item {
    font-size: 48px;
}

.download .item-hd {
    position: absolute;
    top: 0.13333rem;
    left: 0;
    width: 0.50667rem;
    height: 0.50667rem;
    line-height: 0.50667rem;
    margin-right: 0.26667rem;
    background: #ffcf9c;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .download .item-hd {
        top: 0.18667rem;
    }

    .download .download-btn {
        margin: 0.4rem auto 1.6rem;
    }
}

.download .item-bd {
    padding-left: 0.77333rem;
    text-align: justify;
    line-height: 1.8;
}